<Context docBase="UCPCloud" path="/UCPCloud"
    reloadable="true" source="org.eclipse.jst.jee.server:samplejdbcpage">

<Resource name="tomcat/UCP_atp" auth="Container"
   factory="oracle.ucp.jdbc.PoolDataSourceImpl"
   type="oracle.ucp.jdbc.PoolDataSource"
   description="UCP Pool in Tomcat"
   connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
   minPoolSize="5"
   maxPoolSize="50"
   initialPoolSize="15"
   user="admin"
   password="]KpL%rnbRtsbY{hB"
   url="jdbc:oracle:thin:@tomcat_medium?TNS_ADMIN=/etc/tomcat/wallet"
/>
</Context>
